{
  "extends": [
    "../../.eslintrc",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended",
    "eslint-config-next"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "jsx-a11y": {
      "components": {
        "Input": "input",
        "Button": "button",
        "Link": "a"
      }
    }
  },
  "plugins": [
    "react",
    "eslint-plugin-no-inline-styles",
    "jsx-a11y"
  ],
  "rules": {
    "@next/next/no-img-element": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/mouse-events-have-key-events": "error",
    "no-inline-styles/no-inline-styles": "warn",
    "react/button-has-type": "warn",
    "react/display-name": "error",
    "react/function-component-definition": "warn",
    "react/hook-use-state": "warn",
    "react/jsx-fragments": ["warn", "syntax"],
    // DISCUSS: rule does not fit case where a handler function is passed as prop
    // "react/jsx-handler-names": ["warn", {
    //   "eventHandlerPrefix": "handle",
    //   "eventHandlerPropPrefix": "on",
    //   "checkLocalVariables": true,
    //   "checkInlineFunction": true
    // }],
    "react/jsx-no-constructed-context-values": "error",
    // "react/jsx-no-leaked-render": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/no-invalid-html-attribute": "warn"
  },
  "overrides": [
    {
      // prevent config files to be affected
      "files": ["src/**"],
      "rules": {
        "import/no-default-export": "error"
      }
    },
    {
      "files": ["src/pages/**/*.{ts,tsx}"],
      "rules": {
        // Next.js pages are exported using default export
        "import/no-default-export": "off",
        // Next.js page components are typed as arrow functions using the 'NextPage' type helper
        "react/function-component-definition": [
          "warn",
          { "namedComponents": "arrow-function" }
        ]
      }
    },
    {
      "files": ["src/**/*.{ts,tsx}"],
      "excludedFiles": ["src/services/**/*.{ts,tsx}"],
      "rules": {
        "no-restricted-syntax": [
          "warn",
          {
            "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(warn|error|info|trace)$/]",
            "message": "Unexpected property on console object was called"
          }
        ]
      }
    }
  ]
}
