{
  "root": true,
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended",
    "eslint-config-next",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "jsx-a11y": {
      "components": {
        "Input": "input",
        "Button": "button",
        "Link": "a"
      }
    }
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "simple-import-sort",
    "eslint-plugin-no-inline-styles",
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "@next/next/no-img-element": "off",
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-misused-promises": [
      "error",
      { "checksVoidReturn": false }
    ],
    "import/no-default-export": "error",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/mouse-events-have-key-events": "error",
    "no-inline-styles/no-inline-styles": "warn",
    "prettier/prettier": "warn",
    "react/button-has-type": "warn",
    "react/display-name": "error",
    "react/function-component-definition": "warn",
    "react/hook-use-state": "warn",
    "react/jsx-fragments": ["warn", "syntax"],
    // DISCUSS: rule does not fit case where a handler function is passed as prop
    // "react/jsx-handler-names": ["warn", {
    //   "eventHandlerPrefix": "handle",
    //   "eventHandlerPropPrefix": "on",
    //   "checkLocalVariables": true,
    //   "checkInlineFunction": true
    // }],
    // "react/jsx-no-constructed-context-values": "error",
    // "react/jsx-no-leaked-render": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/no-invalid-html-attribute": "warn",
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": "warn"
  },
  "overrides": [
    {
      "files": ["src/pages/**/*.{ts,tsx}"],
      "rules": {
        // Next.js pages are exported using default export
        "import/no-default-export": "off",
        // Next.js page components are typed as arrow functions using the 'NextPage' type helper
        "react/function-component-definition": [
          "warn",
          { "namedComponents": "arrow-function" }
        ]
      }
    }
  ]
}
