* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
}

header {
  background-color: #fff;
  color: #000;
  height: 72px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  padding: 0 12px;

  @media screen and (min-width:1080px) {
    width: 1080px;
    margin: 0 auto;
    padding: 0;
  }
}
