$ddfDark: #001727;
$ddfRed: #c50009;
$ddfBlue: #00a5e7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  color: $ddfDark;
}

body.dark {
  background-color: #000;
  color: #fff;

  header {
    background-color: #fff;
    color: #000;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background-color: $ddfBlue;
    color: #fff;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header {
  z-index: 1;
  background-color: #001727;
  color: #fff;
  height: 72px;
  position: sticky;
  top: 0;

  .wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 24px;
    align-items: center;
  }

  input {
    border: 3px solid $ddfDark;
    color: $ddfDark;
    padding: 10px;
    width: 100%;
  }

  .user-int {
    a:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

footer {
  // text-align: right;
  margin: 0 18px 18px 0;
  position: fixed;
  font-size: .85rem;
  color: #c7c7c7;
  bottom: 0;
  right: 0;
}

.wrapper {
  width: 100%;
  padding: 0 12px;

  @media screen and (min-width:1080px) {
    width: 1080px;
    margin: 0 auto;
    padding: 0;
  }
}

.hidden {
  display: none !important;
}


// pages

.folge {
  background-color: #fff;
  margin-top: 96px;
  min-height: 83vh;

  .bg {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .1;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 96px;

    .cover {
      height: auto;
      width: 100%;

      img {
        // height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    form {
      display: block;
      input, textarea {
        width: 100%;
      }
    }
  }

  p {
    margin-top: 48px;
    line-height: 150%;
  }
}

.list {
  list-style: none;
  
  &_item {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 24px;
    align-items: center;

    &:hover {
      background-color: #121212;
    }

    .cover {
      height: 80px;
      width: 80px;
    }
  }
}

.folgen {
  margin: 96px 0;
  padding: 0 48px;

  .folge-miniatur {

    &:hover {
      transform: scale(1.1);
    }

    .cover {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $ddfDark;
      transition: transform 150ms ease-out;
    }
  }

  &_list {

    .folge-miniatur {
      display: grid;
      grid-template-columns: 250px 80px 1fr;
      grid-gap: 24px;
      margin-bottom: 48px;
      // box-shadow: 0 0 10px 10px #00000025;

      .cover {
        height: 250px;
        width: 250px;
        box-shadow: 0 0 30px 15px #00000024;
        transition: all 250ms ease-out;
      }

      .rating {
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .inhalt { 
        height: 250px;
        overflow: hidden;

        h3 {
          font-size: 1.5rem;
          margin-bottom: .8rem;
          color: $ddfBlue;
        }

        p {
          line-height: 150%;
        }
      }
    }
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 48px;
    justify-items: center;

    .folge-miniatur {
      width: 250px;
      animation-duration: 1s;
      transition: transform 150ms ease-out;

      .cover {
        height: 250px;
        width: 100%;
        box-shadow: 0 0 30px 15px #00000024;
        transition: all 250ms ease-out;
      }

      .rating {
        font-style: italic;
      }

      .inhalt {
        display: none;
      }
    }
  }
}

.page form {
  width: 50%;
  transform: translate(50%);

  input, button {
    border: 3px solid $ddfDark;
    color: $ddfDark;
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
  }
}

// Loader

.spinner {
  margin: 100px auto;
  // width: 100%;
  // height: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.spinner > div {
  // background-color: #333;
  height: 100%;
  // width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  // transform-origin: center;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 900;
  letter-spacing: -8;
}

.spinner .rect2 {
  color: $ddfRed;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  color: $ddfBlue;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scale(1) }  
  20% { -webkit-transform: scale(1.2) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scale(1);
    -webkit-transform: scale(1);
  }  20% { 
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
