* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  color: #001727;
}

body.dark {
  background-color: #000;
  color: #fff;
}

body.dark header {
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: #00a5e7;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header {
  z-index: 1;
  background-color: #001727;
  color: #fff;
  height: 72px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header input {
  border: 3px solid #001727;
  color: #001727;
  padding: 10px;
  width: 100%;
}

header .user-int a:not(:last-of-type) {
  margin-right: 12px;
}

footer {
  margin: 0 18px 18px 0;
  position: fixed;
  font-size: .85rem;
  color: #c7c7c7;
  bottom: 0;
  right: 0;
}

.wrapper {
  width: 100%;
  padding: 0 12px;
}

@media screen and (min-width: 1080px) {
  .wrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 0;
  }
}

.hidden {
  display: none !important;
}

.folge {
  background-color: #fff;
  margin-top: 96px;
  min-height: 83vh;
}

.folge .bg {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: .1;
}

.folge .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 96px;
}

.folge .container .cover {
  height: auto;
  width: 100%;
}

.folge .container .cover img {
  width: 100%;
}

.folge .container form {
  display: block;
}

.folge .container form input, .folge .container form textarea {
  width: 100%;
}

.folge p {
  margin-top: 48px;
  line-height: 150%;
}

.list {
  list-style: none;
}

.list_item {
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto auto;
      grid-template-columns: auto 1fr auto auto;
  grid-column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_item:hover {
  background-color: #121212;
}

.list_item .cover {
  height: 80px;
  width: 80px;
}

.folgen {
  margin: 96px 0;
  padding: 0 48px;
}

.folgen .folge-miniatur:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.folgen .folge-miniatur .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #001727;
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

.folgen_list .folge-miniatur {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 80px 1fr;
      grid-template-columns: 250px 80px 1fr;
  grid-gap: 24px;
  margin-bottom: 48px;
}

.folgen_list .folge-miniatur .cover {
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 0 0 30px 15px #00000024;
          box-shadow: 0 0 30px 15px #00000024;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.folgen_list .folge-miniatur .rating {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.folgen_list .folge-miniatur .inhalt {
  height: 250px;
  overflow: hidden;
}

.folgen_list .folge-miniatur .inhalt h3 {
  font-size: 1.5rem;
  margin-bottom: .8rem;
  color: #00a5e7;
}

.folgen_list .folge-miniatur .inhalt p {
  line-height: 150%;
}

.folgen_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 48px;
  justify-items: center;
}

.folgen_grid .folge-miniatur {
  width: 250px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

.folgen_grid .folge-miniatur .cover {
  height: 250px;
  width: 100%;
  -webkit-box-shadow: 0 0 30px 15px #00000024;
          box-shadow: 0 0 30px 15px #00000024;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.folgen_grid .folge-miniatur .rating {
  font-style: italic;
}

.folgen_grid .folge-miniatur .inhalt {
  display: none;
}

.page form {
  width: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.page form input, .page form button {
  border: 3px solid #001727;
  color: #001727;
  padding: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.spinner {
  margin: 100px auto;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.spinner > div {
  height: 100%;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 900;
  letter-spacing: -8;
}

.spinner .rect2 {
  color: #c50009;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  color: #00a5e7;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  20% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */