<% include ./templates/head %>
<% include ./templates/header %>
<div class="wrapper page">
  <form action="/auth/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Anmelden</button>
  </form>
</div>
<% include ./templates/footer %>