<% include ./templates/head %>
<% include ./templates/header %>
<div class="wrapper page">
  <form action="/auth/register" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="E-Mail">
    <input type="password" name="password" placeholder="Passwort">
    <button type="submit">Registrieren</button>
  </form>
</div>
<% include ./templates/footer %>