$checkWidth: 50px;
$checkHeight: 24px;

[type='checkbox'] {
  position: fixed;
  left: $checkHeight;
  top: 0px;
  opacity: 0;
  width: 0;
}
[type='checkbox'] + label {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.45;
  height: calc($checkHeight + 2px);
  padding-left: 64px;
  position: relative;
  display: flex;
  align-items: center;
}
[type='checkbox'] + label:before {
  content: '';
  width: $checkWidth;
  height: $checkHeight;
  border-radius: $checkHeight;
  border: 1px solid rgb(133, 133, 133);
  background-color: #eee;
  margin-right: 15px;
  transition: background-color 0.5s linear;
  position: absolute;
  left: 0px;
}
[type='checkbox'] + label:after {
  content: '';
  width: $checkHeight;
  height: $checkHeight;
  border-radius: $checkHeight;
  background-color: #fff;
  transition: margin 80ms ease-out;
  box-shadow: 0px 0px 5px #aaa;
  position: absolute;
  left: 1px;
  top: 1px;
}
[type='checkbox']:checked + label:before {
  background-color: $ddfBlue;
}
[type='checkbox']:checked + label:after {
  margin: 0 0 0 $checkHeight;
  margin-left: calc(#{$checkWidth} / 2);
}
[type='checkbox']:focus + label:before {
  outline: none;
  box-shadow: var(--ui-outline);
}
