.headroom-wrapper {
  z-index: 999;
  pointer-events: none;
}

.headroom {
  transition: background-color 150ms ease;

  @media screen and (max-width: 540px) {
    // background-color: #001727;
    top: -1px !important; //fixes content leak on mobile safari
  }

  // &--unfixed {}

  // &--scrolled {}

  // &--unpinned {}

  &--pinned {
    @media screen and (max-width: 540px) {
      background-color: #001727;
      box-shadow: 0px 12px 13px -5px rgb(0 0 0 / 35%);
    }
  }
}
