@use 'headroom';

@tailwind base;
@tailwind components;
@tailwind utilities;

$ddfDark: #001727;
$ddfRed: #c50009;
$ddfBlue: #00a5e7;

$white: #fff;
$black: #01080e;
$lightblack: #061c31;
$red: #c50009;
$blue: #00a5e7;

:root {
  /* global static */
  --font-size-base: 12px;
  --color-bg: #001727;
  --color-text: #fff;
  --ui-outline: 0 0 0 3px hsl(197, 100%, 80%);

  --color-ddfblue: #00a5e7;
}

@media screen and (min-width: 460px) {
  :root {
    --font-size-base: 14px;
  }
}

@media screen and (min-width: 744px) {
  :root {
    --font-size-base: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

*:focus {
  outline: none;
  box-shadow: var(--ui-outline);
}

html,
body {
  font-size: var(--font-size-base);
  color: var(--color-text);
}

body {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
}

#toastPortal {
  z-index: 999;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  max-height: 100vh;

  div + div {
    margin-bottom: 1em;
  }
}
