$ddfDark: #001727;
$ddfRed: #c50009;
$ddfBlue: #00a5e7;

$white: #fff;
$black: #01080e;
$lightblack: #061c31;
$red: #c50009;
$blue: #00a5e7;

:root {
  /* global static */
  --font-size-base: 12px;
  --color-bg: #001727;
  --color-text: #fff;
  --ui-outline: 0 0 0 3px hsl(197, 100%, 80%);
}

@media screen and (min-width: 460px) {
  :root {
    --font-size-base: 14px;
  }
}

@media screen and (min-width: 744px) {
  :root {
    --font-size-base: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: var(--ui-outline);
}

html,
body {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-text);
}

body {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 3.6rem;
  font-size: clamp(1.6rem, 5vw, 3rem);
  margin-bottom: 1em;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
}

.headroom-wrapper {
  z-index: 999;
  pointer-events: none;
  position: sticky !important;
  top: -1px !important;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  transition: all 200ms ease-in-out;

  &--unfixed {
    transform: translateY(0);
  }

  &--scrolled {
    background-color: #001727 !important;
    // transition: all 200ms ease-in-out;
  }

  &--unpinned {
    position: fixed;

    @media screen and (min-width: 560px) {
      transform: translate3d(0px, 0%, 0px) !important;
    }
  }

  &--pinned {
    position: fixed;
    transform: translateY(0%);
    
    @media screen and (min-width: 560px) {
      background-color: transparent !important;
    }
  }

  @media screen and (min-width: 560px) {
    background-color: transparent !important;
  }
}

@import 'checkbox';
