:root {
  /* global static */
  --font-size-base: 12px;
  --color-bg: #001727;
  --color-text: #fff;
}

@media screen and (min-width: 460px) {
  :root {
    --font-size-base: 14px;
  }
}

@media screen and (min-width: 744px) {
  :root {
    --font-size-base: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--color-bg);
}
