$ddfDark: #001727;
$ddfRed: #c50009;
$ddfBlue: #00a5e7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  // font-family: Helvetica Inserat;
  font-size: 1.1rem;
  // color: $ddfDark;
  color: #fff;
  background-color: $ddfDark;
}

body.dark {
  background-color: #001727;
  color: #fff;

  header {
    // background-color: #fff;
    // color: #000;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.button {
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    color: $ddfDark;
    background-color: #fff;
  }
}

button.like {
  font-size: 24px;
  color: #fff;

  &:hover {
    opacity: .8;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header {
  z-index: 10;
  // background-color: #001727;
  color: #fff;
  // height: 72px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 36px;
  background: linear-gradient(0deg, rgba(0,23,39,0) 0%, rgba(0,23,39,1) 100%);
  pointer-events: none;

  * {
    pointer-events: all;
  }

  .home-link {
    // transition: transform 0.15s;

    // &:hover {
    //   transform: scale(1.02);
    // }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  input {
    border: none;
    border-radius: 32px;
    color: $ddfDark;
    padding: 10px 18px;
    width: 100%;
    outline: none;
    box-shadow: 0 0 30px 15px #00000024;
  }

  .user-int {
    a:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

footer {
  margin: 0 18px 18px 0;
  position: fixed;
  font-size: .65rem;
  color: #c7c7c7;
  bottom: 0;
  right: 0;
  z-index: 10;

  @media screen and (min-width:1080px) {
    font-size: .85rem;
  }
}

.wrapper {
  width: 100%;
  padding: 0 12px;

  @media screen and (min-width:1080px) {
    width: 1080px;
    margin: 0 auto;
    padding: 0;
  }
}

.hidden {
  display: none !important;
}

.grid-wrapper {
  padding: 0 16px;

  > div {
    margin: 18px 0;
  }

  @media screen and (min-width:720px) {
    padding: 0 36px;
  }
}

// pages

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $ddfDark;
}

.folge {
  // background-color: #fff;
  margin-top: 96px;
  min-height: 83vh;
  background-color: $ddfDark;
  padding: 48px;

  .bg {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .1;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 96px;

    .cover {
      height: auto;
      width: 100%;

      img {
        // height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    form {
      display: block;
      input, textarea {
        width: 100%;
      }
    }
  }

  p {
    margin-top: 48px;
    line-height: 150%;
  }
}

.grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-items: center;

  @media screen and (min-width:460px) {
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  @media screen and (min-width:1440px) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .folge-miniatur {
    width: 100%;
    max-width: 250px;
    min-height: 100px;

    .cover {
      transition: all 150ms ease-out;
      transform-origin: bottom;

      &:hover {
        position: relative;
        z-index: 1;
        transform: scale(1.08);
        box-shadow: 0 0 30px 15px #00000035;
      }
    }

    .description {
      &__rating {
        color: #6e7c86;
        display: flex;
        justify-content: space-between;
        margin: .15rem 0;
      }
    }
  }
}

.page form {
  width: 50%;
  transform: translate(50%);

  input, button {
    border: 3px solid $ddfDark;
    color: $ddfDark;
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.folgen-slider {
  height: 250px;

  &__cover {
    height: 100%;
    transition: transform 0.15s;
    opacity: .5;

    &:hover {
      // transform: translateY(-25px);
      opacity: 1;
    }
  }

  &__cover.active {
    // transform: translateY(-25px);
    opacity: 1;
  }
}

@import 'loader';
