button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
}

.button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  line-height: 18px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  transition: all 100ms ease-in;

  &:hover {
    color: $ddfDark;
    background-color: #fff;
    box-shadow: inset 5px -5px 10px rgba($color: #000, $alpha: 0.1);
  }
}

.button.round {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;

  svg {
    display: block;
  }
}

.button.red {
  background-color: $ddfRed;
  border-color: $ddfRed;

  &:hover {
    color: #fff;
  }
}

.button.blue {
  background-color: $ddfBlue;
  border-color: $ddfBlue;

  &:hover {
    color: #fff;
  }
}
