button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
}

.button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 22px;
  border-radius: 8px;
  line-height: 18px;
  font-size: 1rem;

  &:hover {
    color: $ddfDark;
    opacity: 0.9;
    background-color: #fff;
  }
}

.button.red {
  background-color: $ddfRed;
  border-color: $ddfRed;

  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}

.button.blue {
  background-color: $ddfBlue;
  border-color: $ddfBlue;

  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}
