// Loader

.loader {
  margin: 100px auto;
  text-align: center;
  font-size: 42px;
}

.loader > div {
  // background-color: #333;
  height: 100%;
  // width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  transform-origin: center;
  color: #e4e4e4;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: -8;
}

.loader .rect2 {
  // color: $ddfRed;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loader .rect3 {
  // color: $ddfBlue;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  20% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
