$ddfDark: #001727;
$ddfRed: #c50009;
$ddfBlue: #00a5e7;

$white: #fff;
$black: #01080e;
$lightblack: #061c31;
$red: #c50009;
$blue: #00a5e7;

$bgShade1: #030f1a;
$bgShade2: #001727;
$bgShade3: #05182a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  color: #fff;
  background-color: $ddfDark;
  min-height: 100vh;

  @media screen and (min-width: 744px) {
    font-size: 16px;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrapper {
  width: 100%;
  padding: 0 36px;

  @media screen and (min-width: 1200px) {
    width: 1080px;
    margin: 0 auto;
  }
}

.hidden {
  display: none !important;
}

.folge-miniatur {
  width: 100%;

  .description {
    &__rating {
      color: #6e7c86;
      display: flex;
      justify-content: space-between;
      margin: 0.15rem 0;
    }
  }
}

@import 'loader';
@import 'button';
