.rating {
  display: inline-block;
  position: relative;
  /* height: 50px; */
  /* line-height: 50px; */
  font-size: 22px;
  font-weight: 900;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 10;
}

.rating label:nth-child(2) {
  z-index: 9;
}

.rating label:nth-child(3) {
  z-index: 8;
}

.rating label:nth-child(4) {
  z-index: 7;
}

.rating label:nth-child(5) {
  z-index: 6;
}

.rating label:nth-child(6) {
  z-index: 5;
}

.rating label:nth-child(7) {
  z-index: 4;
}

.rating label:nth-child(8) {
  z-index: 3;
}

.rating label:nth-child(9) {
  z-index: 2;
}

.rating label:nth-child(10) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
  width: 18px;
  height: 36px;
}

.rating label:last-child .icon {
  color: #d8d8d8;
  background-image: url(../assets/white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #00a5e7;
  background-image: url(../assets/blue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #001727;
  text-shadow: 0 0 5px #00a5e7;
} */

.rating .blue {
  color: #00a5e7;
  background-image: url(../assets/blue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}